<footer>
    <div class="f-info">
        <div class="f-info-socials">  <%# Social media icons %>
            <i class="fa-brands fa-square-facebook"></i>    <%# Font Awesome icon for Facebook %>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlotus Private Limited</div>  <%# &copy; is the HTML entity for the copyright symbol %>
        <div class="f-info-links"> <%# Footer links %>
            <a href="/privacy">Privacy</a> <%# Link to Privacy page %>
            <a href="/terms">Terms</a> <%# Link to Terms page %>
        </div>
    </div>
</footer>