<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"> <%# border-bottom to give border at bottom of navbar and sticky-top to stick navbar at top when we scroll down %>
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></i></a>  <%# here fa-regular fa-compass is used from fontawesome for logo %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>   <%# "/" is route for home page %>
                <a class="nav-link" href="/listings">All Listings</a>  <%# "/listings" is route for all listings page %>
                <a class="nav-link" href="/listings/new">Add new Listing</a> <%# "/listings/new" is route for adding new listing page %>

            </div>
        </div>
    </div>
</nav>